#card{
    height: 280px;
    width: 200px;
    
    /* border: 2px solid black; */
    border-radius: 10px;
    position: relative;
    margin: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
#img{
    /* background-image: url("wallpaperflare.com_wallpaper.jpg"); */
    height: 100px;
    width: 100%;
    
}
#profile{
    /* background-image: url("Palak2.jpg"); */
    height: 70px;
    width: 70px;
    position: absolute;
    left:32%;
    top: 20%;
    border-radius: 50%;
}
#text{
   position: relative;
   top: 40px;
}
#text1{
    text-align: center;
    
}
#text2{
    text-align: center;
}
#button{
    position: relative;
    top: 70px;
    /* text-align: center; */
    background-color: blueviolet;
    height: 40px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}
img{
    height: 100%;
    width: 100%;
    
}
#main{
    border-radius: 50%;
}
#main1{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}