*{
    font-family: Arial, Helvetica, sans-serif;
    /* margin: 0;    */
    /* padding: 0; */
}
#head{
    display: flex;
    justify-content: center;
    margin: 20px;
}
#cards1{
    display: flex;
    justify-content: space-evenly;
}
.one{
    height: 225px;
    width: 360px ;
    border-radius: 5px;
    /* box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px; */
    display: inline-block;
    /* margin: 2px; */
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    /* box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px; */
    transition: 1s;
    padding: 5px;
    /* box-shadow: rgba(17, 12, 46, 0.15) 0px 48px 100px 0px;
     */
     /* box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px; */
     /* box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px; */
     box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
     justify-content: space-evenly;
    
}
.box{
    height: 100px;
    width: 100px;
    background-color: rgb(164, 159, 159);
    border-radius: 5px;
    color: white;
    font-size: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #button{
    background-color: orangered;
    color: white;
    height: 20px;
    width: 80px;
    display: flex;
    justify-content: center;
    align-content: center;
    border-radius: 5px;
    font-size: 15px;
} */
.one:hover{
    /* height: 250px;
    width: 402px; */
    transform:scale(1.1)
}
#cards2{
    display: flex;
    margin: 5px;
    justify-content: space-evenly;
}
#button:hover{
    transform: scale(0.9);
}
button{
    background-color: orangered;
    color: white;
    border: 0;
    border-radius: 5px;
    height: 20px;
}
p b{
    font-size: 20px;
}
p{
    font-size: 12px;
}