*{
    margin: 0;
    padding: 0;
}
body{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

div{
    height: 100vh;
    width: 100vw;
    
    background-color: crimson;
}

@media  screen and (min-width:700px) {
   div{
    height: 50vh;
    width: 50vw;
    background-color: cadetblue;
   } 
}