*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
#nav{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100vw;
    height: 50px;
    position: relative;
    flex-wrap: wrap;
}
#block{
    color: white;
   display: flex;
   justify-content: center;
   align-items: center;
   justify-content: space-between;
   width: 250px;
   flex-wrap: wrap;
}
#h2{
    color: orangered;
    position: relative;
    left:15px;
}
button{
    background-color: orangered;
    color: white;
    width: 70px;
    height: 20px;
    border-radius: 2px;
    border: 0;
}
@media screen and (max-width:480px) {
    #nav{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 300px;
        width: 100vw;
        font-size: 2em;
    }
    #block{
        display: flex;
        flex-direction: column;

    }
    button{
      
        
    }
}
@media screen and (max-width:250px) {
    #nav{
        display: flex;
        flex-direction: column;
        height: 250px;
        width: 100vw;
    }
    #block{
        display: flex;
        flex-direction: column;

    }
    
}