div{
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 5px;
    margin-bottom: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    /* display: none; */
    /* visibility: hidden; */
}
span{
    background-color: purple;
    height: 100px;
    width: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center;  */
    /* display: block; */
    display: inline-block;
    border-radius: 5px;
    
}